.App {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 99%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 99%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 99%);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.Band-name {
  letter-spacing: 4vw;
  margin: 0;
  overflow: hidden;
}
.Banner {
  margin-left: .5em;
  padding-top: 1.25em;
}
.Header {
  font-family: 'JSL-blackletter';
  font-size: 5rem;
  vertical-align: top;
  width: 100%;
}
.Nav-container {
  background-color: transparent;
  display: block;
  position: sticky;
  margin-bottom: 10em;
  top: 0;
}
.rap-container {
  width: 666px;
}
#about, #media {
  height: 100vh;
}
#audio-selection {
  height: 5em;
}
#audio-selection > * {
  display: block;
}
#audio-selection:hover > * {
  color: white;
}
#footer {
  font-family: 'Warsuck';
  font-size: xx-small;
  font-weight: 300;
  letter-spacing: .123vw;
  min-height: 3rem;
  text-shadow: .1px .1px .1px #333;
  position: fixed;
  left: 0;
  bottom: .15em;
  width: 100%;
  text-align: center;
}
#footer:hover {
  bottom: .5em;
  color: white;
  cursor: default;
  font-size: x-small;
  font-weight: 300;
  text-shadow: .5px .5px .5px black;
}
#media {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Warsuck';
  letter-spacing: .555vw;
  margin-top: 5.5em;
  padding-top: 6.66em;
  row-gap: 1em;
}
#player-wrapper {
  position: relative;
  z-index: 1;
}
#play-ctrl {
  border-radius: 5px;
  color: #666;
  font-family: 'Warsuck';
  font-size: small;
  margin: .5em auto;
}
#play-ctrl:hover {
  color: white;
  cursor: pointer;
}
#selection-title:hover {
  color: white;
} 
#selection-title {
  color: black;
  cursor: crosshair;
  margin-bottom: 0;
  text-shadow: .1px .1px .1px white;
}
@font-face {
  font-family: 'JSL-blackletter';
  src: local('JSL-blackletter'), url(./assets/fonts/JBLACK.TTF) format('truetype');
}
@font-face {
  font-family: 'Warsuck';
  src: local('Warsuck'), url(./assets/fonts/Warsuck.ttf) format('truetype');
}

