body {
  font-family: 'JSL-blackletter';
  src: local('JSL-blackletter'), url("%PUBLIC_URL%/JBLACK.TTF") format('truetype');
}

@font-face {
  font-family: 'JSL-blackletter';
  src: local('JSL-blackletter'), url("%PUBLIC_URL%/JBLACK.TTF") format('truetype');
}

@font-face {
  font-family: 'Warsuck';
  src: local('Warsuck'), url("%PUBLIC_URL%/Warsuck.ttf") format('truetype');
}